.swiper-pagination {
  bottom: 0px !important;
}
.swiper-wrapper {
  height: 360px;
  padding: 4px 0;
}
.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.area {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: white;
  animation: animate 25s linear infinite;
  bottom: -150px;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

/* 1〜10 */
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: #ffa8a8;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: #eebefa;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background: #ffa94d;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: #63e6be;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: #ffec99;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background: #c0eb75;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background: #fcc2d7;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: #91a7ff;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: #ffa8a8;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: #eebefa;
}

/* 11〜20 */
.circles li:nth-child(11) {
  left: 5%;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
  animation-duration: 20s;
  background: #74c0fc;
}

.circles li:nth-child(12) {
  left: 15%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
  animation-duration: 22s;
  background: #ffa94d;
}

.circles li:nth-child(13) {
  left: 30%;
  width: 50px;
  height: 50px;
  animation-delay: 5s;
  animation-duration: 18s;
  background: #eebefa;
}

.circles li:nth-child(14) {
  left: 45%;
  width: 25px;
  height: 25px;
  animation-delay: 4s;
  animation-duration: 26s;
  background: #ffa8a8;
}

.circles li:nth-child(15) {
  left: 60%;
  width: 60px;
  height: 60px;
  animation-delay: 6s;
  animation-duration: 20s;
  background: #91a7ff;
}

.circles li:nth-child(16) {
  left: 70%;
  width: 35px;
  height: 35px;
  animation-delay: 2s;
  animation-duration: 30s;
  background: #fcc2d7;
}

.circles li:nth-child(17) {
  left: 80%;
  width: 45px;
  height: 45px;
  animation-delay: 8s;
  animation-duration: 28s;
  background: #ffec99;
}

.circles li:nth-child(18) {
  left: 65%;
  width: 50px;
  height: 50px;
  animation-delay: 3.5s;
  animation-duration: 22s;
  background: #ffa8a8;
}

.circles li:nth-child(19) {
  left: 55%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 32s;
  background: #74c0fc;
}

.circles li:nth-child(20) {
  left: 90%;
  width: 40px;
  height: 40px;
  animation-delay: 0.5s;
  animation-duration: 24s;
  background: #c0eb75;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
