#:schema node_modules/wrangler/config-schema.json
name = "kotohiro-app"
compatibility_date = "2024-11-18"
pages_build_output_dir = "./build/client"
compatibility_flags = ["nodejs_compat"]

[vars]
BASE_URL = "https://local.kotohiro.com:3000"
API_BASE_URL = "https://api-dev.kotohiro.com/"

[env.production.vars]
BASE_URL = "https://www.kotohiro.com"
API_BASE_URL = "https://api.kotohiro.com"

[env.staging.observability]
enabled = true
head_sampling_rate = 1
