select {
  appearance: none;
  -webkit-appearance: none;
}

.arrow {
  background-image: url("./assets/arrow.svg");
  position: absolute;
  right: 9px;
  top: 50%;
  width: 0;
  pointer-events: none;
}
