@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer utilities {
  .primary-gradient {
    background-image: linear-gradient(
      90deg,
      #ff3b30 0%,
      #5856d6 50%,
      #32ade6 100%
    );
  }
  .primary-gradient-30 {
    background-image: linear-gradient(
      90deg,
      #ff3a304e 0%,
      #5856d64a 50%,
      #32ade652 100%
    );
  }
  .text-clip {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .border-gradient {
    position: relative;
    display: inline-block;
  }
  .border-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid transparent;
    background: linear-gradient(
        90deg,
        #ff3a304e 0%,
        #5856d64a 50%,
        #32ade652 100%
      )
      border-box border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0)
      border-box;
    mask-composite: exclude;
  }
}

@theme {
  /* 背景で使用 */
  --color-cs-gray-200: #f2f2f7;
  /* disabledな表現で使用 */
  --color-cs-gray-500: #adb5bd;
  /* 注意書きで使用 */
  --color-cs-gray-600: #868e96;
  /* リンクとかで使用 */
  --color-cs-blue-50: #e7f5ff;
  --color-cs-blue-600: #007aff;

  --color-cs-caution: #ff3b30;
  --color-cs-disabled: #aeaeb2;

  --color-cs-agree: #32ade6;
  --color-cs-disagree: #ff2d55;
  --color-cs-pass: #5856d6;
  --color-cs-green: #34c759;

  --shadow-cs-normal: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --font-roboto: "Roboto", sans-serif;
}
